/* подключение шрифтов в index.html */

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans:wght@700;800&display=swap" rel="stylesheet"> */

* {
	margin: 0;
	padding: 0;
}

body {

	font-family: 'Nunito Sans', sans-serif;
}

.main {
	background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
/* раскидывает дивы по контейнеру в ширину */
	justify-content: space-between;
}

.text {
	color: #FAF9F9;
}

h1 {
	font-size: 120px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 120px;
}

h1 span {
	color: #FBB731;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	display: block;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 1.4;
}

img {
	width: 100px;
}